.auth {
  width: 30%;
  margin: 20px auto;
}
.tabs-auth {
  box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  border-radius: 30px !important;
}
.tab-auth {
  box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  border-radius: 30px !important;
  padding: 20px;
}

.input-auth {
  border-radius: 20px !important;
  box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
}
.auth-btn {
  width: 100% !important;
  border-radius: 20px !important;
  border-color: transparent !important;
  background-color: black !important;
  color: rgb(240, 240, 240) !important;
  box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  transition: background-color 0.3s;
}

.auth-btn:hover {
  background-color: rgb(20, 19, 19) !important;
}

.auth-msg {
  padding: 15px;
  width: 100%;  
  text-align: center;
  border-radius: 20px !important;
  box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
}
.auth-msg h1{
    font-size: 50px;
    text-align: center;
}
.error-msg{
  color: red;
}
.error-msg-container{
  padding: 5px;
}
.tab-title-auth{
  color: black !important;
  border-radius: 50px !important;
}
 .active{
  background-color: rgba(221, 221, 221, 0.534) !important;
}