.view-products {
  padding: 5% !important;
}
.card-body-product span {
  font-size: 1vw !important;
}
.card-body-product p {
  font-size: 1vw !important;
}

.view-product-card {
  border-radius: 20px !important;
  background-color: rgba(0, 0, 0, 0.062) !important;
  box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  margin: auto;
}

.view-product-card-footer {
  text-align: center !important;
  border-radius: 20px !important;
  box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: black !important;
  margin-bottom: 5% !important;
  color: rgb(240, 240, 240) !important;
  font-size: 1vw;
}
.view-product-card-footer:hover {
  background-color: rgb(26, 24, 24) !important;
}
.add-cart-btn {
  background-color: transparent !important;
  border-color: transparent !important;
  color: black !important;
}
.card-body-product {
  margin: 10% auto;
  border-radius: 20px;
  box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
}
.view-product-name {
  font-size: 2vw !important;
}
.quantity-product-view {
  border-radius: 20px !important;
  text-align: center;
  font-size: 1vw !important;
}
.form-input-quantity {
  width: 15vw !important;
  padding: 5% !important;
}
.card-image-product {
  width: 25vw !important;
  margin: 5% auto;
  background-color: rgba(0, 0, 0, 0.158);
  border-radius: 20px !important;
  border: 0.1px solid rgb(211, 206, 206);
}
.view-product-image-container {
  text-align: center;
}

/***************************************************************************/
/* 
@media only screen and (max-width: 1200px) {
} */
@media only screen and (max-width: 1032px) {
  .view-products {
    margin-top: 2% !important;
  }
  .card-body-product span {
    font-size: 1.2vw !important;
    padding: 2% !important;
  }
  .card-body-product p {
    font-size: 2vw !important;
  }
  .view-product-card-footer {
    font-size: 2vw;
  }
  .view-product-name {
    font-size: 5vw !important;
  }
  .quantity-product-view {
    font-size: 2vw !important;
    width: 8vw !important;
  }
  .form-input-quantity {
    padding: 1% !important;
  }
  .card-image-product {
    width: 50vw !important;
  }
}

/* Small phones to small tablets: from 481 to 767*/
@media only screen and (max-width: 767px) {
  .card-body-product span {
    font-size: 3vw !important;
  }
  .card-body-product p {
    font-size: 3vw !important;
  }

  .view-product-card-footer {
    font-size: 4vw;
  }
  .view-product-card-footer:hover {
    background-color: rgb(26, 24, 24) !important;
  }
  .add-cart-btn {
    background-color: transparent !important;
    border-color: transparent !important;
    color: black !important;
  }
  .card-body-product {
    margin: 5% auto;
  }
  .view-product-name {
    font-size: 8vw !important;
  }
  .quantity-product-view {
    border-radius: 20px !important;
    text-align: center;
    font-size: 4vw !important;
  }
  .form-input-quantity {
    width: 55vw !important;
    padding: 1% !important;
  }
  .card-image-product {
    width: 51vw !important;
    margin: 5% auto;
  }
}

/*Small Phone from 0 to 480px*/
@media only screen and (max-width: 400px) {
  .card-body-product span {
    font-size: 3vw !important;
  }
  .card-body-product p {
    font-size: 3vw !important;
  }

  .view-product-card-footer {
    font-size: 4vw;
  }
  .view-product-card-footer:hover {
    background-color: rgb(26, 24, 24) !important;
  }
  .add-cart-btn {
    background-color: transparent !important;
    border-color: transparent !important;
    color: black !important;
  }
  .card-body-product {
    margin: 5% auto;
  }
  .view-product-name {
    font-size: 8vw !important;
  }
  .quantity-product-view {
    border-radius: 20px !important;
    text-align: center;
    font-size: 4vw !important;
  }
  .form-input-quantity {
    width: 55vw !important;
    padding: 1% !important;
  }
  .card-image-product {
    width: 51vw !important;
    margin: 5% auto;
  }
}
