.dialog-msg-modal {
  background-color: transparent !important;
}
.content-msg-modal {
  border: none !important;
  border-radius: 20px !important;
  color: white !important;
  padding: 1% !important;
  width: 25vw !important;
  margin: auto;
  font-size: 1vw !important;
  text-align: center;
}

.without-msg {
  background-color: transparent !important;
}

.backdrop-msg-modal {
  background-color: transparent !important;
}

.modal-header-msg-modal {
  font-size: 1vw !important;
  width: 20vw !important;
  border-radius: 50px !important;
  color: white !important;
  border: none !important;
  margin: auto;

}

.title-header-msg-modal {
  font-size: 1vw !important;
  margin: auto !important;
}

.error {
  background-color: rgba(48, 6, 6, 0.95) !important;
}
.msg {
  background-color: transparent !important;
}
