.dialog-msg-modal {
  background-color: transparent !important;
}
.content-msg-modal {
  border: none !important;
  border-radius: 20px !important;
  color: white !important;
  padding: 10px !important;

  font-size: 20px !important;
  text-align: center;
}

.without-msg {
  background-color: transparent !important;
}

.backdrop-msg-modal {
  background-color: transparent !important;
}

.modal-header-msg-modal {
  font-size: 20px !important;
  border-radius: 50px !important;
  color: white !important;
  border: none !important;
}

.title-header-msg-modal {
  font-size: 20px !important;
  margin: auto !important;
}

.error {
  background-color: rgba(48, 6, 6, 0.95) !important;
}
.msg {
  background-color: transparent !important;
}
