@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

.nav-bar {
  background: transparent;
  border-radius: 100px;
  margin-top: 5px;
  box-shadow: 1px -6px 18px 15px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 1px -6px 18px 15px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px -6px 18px 15px rgba(0, 0, 0, 0.45);
}

.nav-bar-brand {
  padding: 10px;
}
.dropdown-user {
  color: black !important;
}
.title-dropdown {
  font-size: 20px;
  margin-top: 30px;
  color: black !important;
  letter-spacing: 1px;
  border-radius: 20px;
}
.sign-in-link {
  font-size: 20px;
  margin-top: 20px;
  color: black !important;
  letter-spacing: 1px;
  border-radius: 20px;
  height: 50px;
}
.logo-container {
  position: relative;
  top: 0;
  left: 0;
}
.logo-img {
  animation: rotation 50s infinite linear;
  position: relative;
  top: 0;
  left: 0;
}
.logo-img-lip {
  position: absolute;
  top: 0px;
  left: 0px;
}
.products-cart {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
#cart-counter {
  font-size: 12px;
  background: #030303;
  color: #fff;
  font-weight: bold;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}
.shop-cart {
  width: 50px;
  height: 50px;
  padding: 5px;
  color: #000000;
}

.log-out-btn{
  background-color: black !important;
  border-color: transparent !important;
  border-radius: 20px !important;
  color: #fff !important;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
