.nav-bar {
  background-color: #3a0ca3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sign-in-link {
  font-size: 20px;
  padding: 10px;
  margin: auto;
  border: 3px solid black;
  border-radius: 15px;
  background-color: rgb(58, 55, 224);
}
.products-cart {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}
.shop-cart {
  width: 50px;
  height: 50px;
  color: #5588aa;
}
