@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

.nav-bar {
  background: transparent;
  border-radius: 100px;
  margin-top: 5px;
  box-shadow: 0px 5px 16px 12px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 0px 5px 16px 12px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 0px 5px 16px 12px rgba(0, 0, 0, 0.74);
}

.nav-bar-brand {
  padding: 10px;
}

.sign-in-link {
  font-size: 20px;
  margin-top: 20px;
  font-family: "Nunito", sans-serif !important;
  color: black !important;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 20px;
  box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  height: 50px;
}
.logo-container{
  position: relative;
  top: 0;
  left: 0;
}
.logo-img{
  animation: rotation 50s infinite linear;
  position: relative;
  top: 0;
  left: 0;
}
.logo-img-lip{
  position: absolute;
  top: 0px;
  left: 0px;

}
.products-cart {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
#cart-counter {
  font-size: 12px;
  background: #030303;
  color: #fff;
  font-weight: bold;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}
.shop-cart {
  width: 50px;
  height: 50px;
  padding: 5px;
  color: #000000;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}