@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
.date-time {
  color: #000000;
  padding: 15px;
}
.date-time h5 {
  font-family: "Nunito", sans-serif;
  border-radius: 20px;
  font-size: 1vw !important;
  padding: 3px;
  text-align: center;
}
