@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

.search-bar {
  padding: 1%;
  width: 26vw;
  margin: auto;
}
.form-input-search {
  font-family: "Nunito", sans-serif !important;
  border-radius: 50px !important;
  border-color: transparent !important;
  color: #000000 !important;
  letter-spacing: 1px;
  font-size: 1.1vw !important;
  text-align: center;
  box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
}
.search-btn {
  border-radius: 20px !important;
  background-color: rgb(0, 0, 0) !important;
  border-color: rgb(0, 0, 0) !important;
  font-size: 1vw !important;
}

.autocomplete-lists {
  border-radius: 20px;
  box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.24);
  padding: 10px;
  text-align: center;
  background-color: white;
  margin: auto;
  font-size: 1.1vw !important;
  position: absolute;
  width: 20vw;
}

ul {
  list-style-type: none;
}

.autocomplete-item {
  margin: auto;
  cursor: pointer;
  max-height: 143px;
  overflow-y: auto;
}

.item-autocomplete {
  padding: 2px;
  border-radius: 20px;
  
}

.item-autocomplete:hover {
  background-color: rgba(128, 128, 128, 0.185);
}
