.app {
  width: 60%;
  margin: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 50px;
}
*:focus {
  outline: none !important;
}

button{
  border: none !important;
}
input{
  border: none !important;
  outline: none !important;
}

/***************************************************************************/

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1032px) {
  .app {
    width: 70% !important;
    margin: auto;
  }
}

/* Small phones to small tablets: from 481 to 767*/
@media only screen and (max-width: 767px) {
  .app {
    width: 90% !important;
    margin: auto;
  }
  .ribbon {
    left: -40px;
    top: 15px;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
  .ribbon a {
    font: bold 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: 2px 0;
    padding: 5px 30px;
  }
}

/*Small Phone from 0 to 480px*/
@media only screen and (max-width: 400px) {
  .app {
    width: 90% !important;
    margin: auto;
  }
  .ribbon {
    left: -40px;
    top: 15px;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
  .ribbon a {
    font: bold 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: 2px 0;
    padding: 5px 30px;
  }
}
